.navbar {
  width: 100%;
  height: 50px;
  background-color: #25292f;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.79);
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.79);
  z-index: 999;
}
.navbarWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  color: white;
}
.logo {
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}
.navRight {
  display: flex;
  align-items: center;
}
.navIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.topIconBad {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.navAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
