.productList {
    flex: 6;
}
.productListName {
    display: flex;
    align-items: center;
}
.productListImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.productListEdit {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #ebb077;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}
.productListDelete {
    cursor: pointer;
    color: red;
}